<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/tab-links.css">
    <title>ClinicBase - Administrator</title>
</head>
<body>
    <header>
        <h1>ClinicBase</h1>
        <div id="api-status"></div>
        <nav class="logout">
            <ul>
                <li><a href="#Logout">Logout</a></li>
                
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="employee-bar">
            <!-- <div>
                <h3>Administrator</h3>
                
            </div> -->
            <div>
                <h4>Patient Count     <button>Find Patient Count</button></h4>
                <h6>Number: </h6> 
                
            </div>
            <div>
                <form action="">
                    <br>
                    <label for="date">Start Date:</label>
                    <input type="start_date" id="name" name="start_Sdate" required><br><br>                                    
                    <label for="end_date">End Date:</label>
                    <input type="email" id="email" name="end_date" required><br><br>
                                
                    
                </form>

            </div>
            <div>
                <h4>Case Count     <button>Find Patient Count</button></h4>
                <h6>Number: </h6>                
                
            </div>
            <div>
                <form action="">
                    <br>
                    <label for="date">Start Date:</label>
                    <input type="start_date" id="name" name="start_Sdate" required><br><br>                                    
                    <label for="end_date">End Date:</label>
                    <input type="email" id="email" name="end_date" required><br><br>
                              
                    
                </form>

            </div>
            
            
            

        </div>
        <main>
            <section class="patient-status">
                <div>
                    <h3>Search Employee Info</h3>
                    <form method="POST" action="/search">
                        <label for="search_object">Search By:</label>
                        <select name="search_object" id="search_object">
                            <option value="fname">Name</option>                            
                            <option value="email">Email</option>
                        </select><br><br>
                        <label for="search_query">Search Employee:</label><br>
                        <input type="text" name="search_query" id="search_query" placeholder="Enter search query"
                            required><br><br>
                        
                        <button type="submit">Search</button>
                    </form>
                    <h3>Search Results</h3>
                    <p> search results goes here</p>
                    <button>Delete Employee</button>
                </div>
            </section>
            <section class="patient-info">
                <div class="patient-detail">

                </div>
                <div class="patient-history">

                    <div class="employee-tab">
                        <button class="tablinks" onclick="openTab(event, 'Add New Employee')" id="defaultOpen">Add New
                            Employee</button>
                        <button class="tablinks" onclick="openTab(event,'Update Employee Info')">Update Employee
                            Info</button>
                       
                    </div>
                    <div class="nav-content">
                        <form action="">
                            <div id="Add New Employee" class="tabcontent">
                                <h3>Add New Employee</h3>
                                <form action="">
                                    <label for="fname">Name:</label>
                                    <input type="text" id="name" name="name" required><br><br>                                    
                                    <label for="sname">Email:</label>
                                    <input type="email" id="email" name="email" required><br><br>
                                    <label for="psword">Password:</label>
                                    <input type="password" id="psword" name="psword" required><br><br>                                
                                    
                                    <label for="role">Role:</label>
                                    <select name="role" id="role">
                                        <option value="optometrist">optometrist</option>
                                        <option value="receptionist">receptionist</option>
                                    </select><br><br>                                    
                                    <label for="licenseNumber">License Number:</label>
                                    <input type="text" id="licenseNumber" name="license"><br><br>
                                    
                                    <input type="submit" value="Save Patient">
                                </form>
                            </div>
                            <div id="Update Employee Info" class="tabcontent">
                                <h3>Update Employee Info</h3>
                                <form action="">                           
                                                                     
                                    <label for="sname">Email:</label>
                                    <input type="email" id="email" name="email" required><br><br>                                   
                                    <label for="psword">Password:</label>
                                    <input type="password" id="psword" name="psword" required><br><br>
                                    <input type="submit" value="Save Patient">
                                </form>
                            </div>
                            

                        </form>

                    </div>

            </section>

            <section class="save-patient">
                <div>
                    <h3>Search Employee Info</h3>
                    <form method="POST" action="/search">
                        <label for="search_query">Search Patient:</label><br>
                        <input type="text" name="search_query" id="search_query" placeholder="Enter search query"
                            required><br><br>
                        <label for="search_object">Search Patient By:</label><br>
                        <select name="search_object" id="search_object">
                            <option value="fname">First Name</option>
                            <option value="sname">SurName</option>
                            <option value="date">Insurance</option>

                        </select>
                        <button type="submit">Search</button>
                    </form>
                    <h3>Search Results</h3>
                    <p> search results goes here</p>
                                        
                </div>
                <button>View Patient Records</button>
                
            </section>
        </main>
        
    </div>
    <footer>
        <p>Copyright &copy; <script>document.write(newDate().getFullYear())</script>clinicbase</p>
    </footer>
    <script src="../static/scripts/admin.js"></script>
    <script src="../static/scripts/main.js"></script>
</body>
</html>