<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboards/static/styles/landing.css">
    <title>ClinicBase Landing Page</title>
</head>
<body>
    <header>
        <h1>ClinicBase</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#Login">Login</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a href="#About">About</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h2>Stay Proficient with ClinicBase</h2>
                <p>Track your Patients, monitor your cases, and retrieve records with ease.</p>
                <a href="#register" class="cta-button">Register Now</a>
            </div><br>
            <img src="photo_1.jpg" alt="Health App Screenshot">
        </div>
    </section>
    <section class="features">
        <div class="container">
            <h2>Key Features</h2>
            <div class="feature">
                <img src="photo_2.jpg" alt="Feature 1">
                <h3>Track Patients</h3>
                <p>Monitor your daily activities and see your progress over time.</p>
            </div>
            <div class="feature">
                <img src="photo_3.jpg" alt="Feature 2">
                <h3>Manage Cases</h3>
                <p>Streamline daily patient cases with no fuss</p>
            </div>
            <div class="feature">
                <img src="photo_4.jpg" alt="Feature 3">
                <h3>Retrieve Patient Info with Ease</h3>
                <p>Patients record retrival have never been easy</p>
            </div>
        </div>
    </section>
    <section id="register" class="register">
        <div class="container">
            <h2>Get Started Today</h2>
            <p>Register with ClinicBase now and streamline your clinical work</p>
            <a href="#register" class="cta-button">Get Started</a>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>Copyright &copy;
                <script>document.write(newDate().getFullYear())</script>clinicbase
            </p>
        </div>
    </footer>
</body>
</html>